body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

#produk {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barang {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.barang img {
    max-width: 100%;
    height: auto;
}

.barang h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.barang p {
    font-size: 1.2em;
}